.navbar-fixed-top {
  border: 0;
}

body {
	background-color: #171717;
    color:#ccc;
}


/* Hide for mobile, show later */
.sidebar {
  /*display: none;*/
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
	background-color:#2A2A2A;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 10px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow:auto;
}

.main::-webkit-scrollbar {
	overflow: hidden;
	width: 8px;
	background: #fafafa;
	-webkit-border-radius: 3px;
	border-radius: 8px;
	margin: 10px;
}

	.main::-webkit-scrollbar:horizontal {
		height: 5px;
	}

.main::-webkit-scrollbar-button {
	display: none;
}

.main::-webkit-scrollbar-piece {
	background: #eee;
}

	.sidebar::-webkit-scrollbar-piece:start {
		background: #eee;
	}

.main::-webkit-scrollbar-thumb {
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 8px;
	background: #333;
}

.main::-webkit-scrollbar-corner {
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 8px;
	background: #333;
}
